*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(201, 167, 123, 0.368);
}

.section{
    width: 70%;
    height: auto;
    text-align: center;
    background-color: white;
    margin: 10px auto;
    border-radius: 10px;
    color: burlywood;
    padding: 40px;
}

.input{
    width: 80%;
    height: 20px;
    position: relative;
    margin: 40px auto;
    background-color: burlywood;
}

.text{
    position: absolute;
    bottom: 1px;
    left: 0pc;
    width: 100%;
    height: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid  rgba(0, 0, 0, 0.468);
}

.label{
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 45%;
    border-bottom: 3px solid burlywood;
    transition-duration: 400ms ;
    border-radius: 3px;
    pointer-events: none;
}

.input .text:focus + label, .input .text:valid + label{
    width: 100%;
    left: 0px;
} 

.items{
    position: relative;
    text-align: left;
    margin: 20px auto;
}

.items .checkbox{
    margin: 5px;
}